extends ./share/module
block css
    link(rel="stylesheet", href="/css/reg.css")

block contents
    #content
        .layui-container
            .layui-col-md8.layui-col-md-offset2
                .layui-tab
                    ul.layui-tab-title
                       li.layui-this 登录
                       li 注册
                    .layui-tab-content
                        .layui-tab-item 测试内容
                        .layui-tab-item.layui-show  岑可能疯狂的你



block scripts

