mixin nav(href,menu)
    li.layui-nav-item
        a(href=href)= menu
#blog-header.layui-bg-black
    div.layui-container
        div.layui-row
            div.layui-col-md9.layui-col-sm9
                ul.layui-nav
                    +nav("/","首页")
                    +nav("/","Web")
                    +nav("/","Java")
                    +nav("/","Python")
                    +nav("/","关于博主")
            div.layui-col-md3.layui-col-sm3
                ul.layui-nav
                    if session && !session.isNew
                        +nav(session.role > 1 ? "/admin/user": "/admin/article","个人中心")
                        +nav("user/logout","退出")
                    else
                        +nav("user/login","登录")
                        +nav("user/reg","注册")
                    //个人中心
                    //退出