mixin lis(name)
    li.layui-nav-item
        a(href="")= name

.blog-panel
    .layui-container
        ul
            +lis("html")
            +lis("html")
            +lis("html")
            +lis("html")
            .blog-column-right
                a(href="/article").layui-btn 发表文章