mixin lis(name)
    li.layui-nav-item
        a(href="")= name

.blog-panel
    .layui-container
        ul
            +lis("html")
            +lis("html")
            +lis("html")
            +lis("html")